#wall .tag-1 {
    display: none;
}

#wall .tag-2 {
    display: none;
}

#wall .tag-3 {
    display: none;
}

#wall div.parent {
    display: none;
}
#wall .tag-4 {
    display: none;
}
#wall div.parent .tag-5 {
    display: none;
}
#wall div.parent .tag-7 {
    display: none;
}

#wall div:last-child .tag-6 {
    display: none;
}